* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color:rgb(231, 231, 236);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Header line with name and menu*/



.navbar{
  
  background-color:rgb(231, 231, 236) !important;
 width:100%;
}

.navbar-brand {
  margin-right:1%;
  display:flex;
  max-width: fit-content;
}

.navbar-nav{
  border:2px solid red;
  margin-left: auto;
  margin-right: 5%;
}

/* jumbotron*/



#myImage{
  width:100%;
  height:auto;
  padding:10px;
  
  margin-left: -20px;
  align-content:flex-end;
}
.jumbotron{
  background-image: url("../Images/white-painted-wall-texture-background.jpg");
  padding-left:15%;
  padding-right:20%;
  display:flex;
}
.social-jumbo{
  display: flex; 
  flex-direction: row; 
  padding-top:80px; 
  padding-left:40px;
  position:relative;
}


/* projects/my work section */

.work-title {
  padding :10px;
  margin-left:38%;
  display:flex;
  font-size: 30px;

}
.mywork-container {
padding-bottom: 30px;

}
.container-fluid{
width:100%;
 }


/*skills section*/
.skills-logo {
  background-color: rgb(231, 231, 236);
  display: flex; 
  flex-direction: row; 
  justify-content: space-evenly; 
  align-items: center;

}


.card2-body{
  
  padding:5px;
  margin:5px;
  width:120px;
  justify-items: center;
  align-items: center;
  font-size: xx-large;
}

/*About-me*/
.my-bio{
  margin:10%;
  margin-top: 10px;
}


/*form*/

.subtitle-contact{
 
  padding :10px;
  justify-content:center;
  display:flex;
}

.control-title{
  border: 1px solid blue;
  color:white;
  background-color: black;
}
.contact{
  padding: 4%;
  height: auto;
}
.col-md-3{
  padding: 4%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.contact-info{
  margin-top:10%;
}
.contact-info h2{
  margin-bottom: 10%;
}
.col-md-9{
  padding: 3%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.contact-form label{
  font-weight:400;
}
.contact-form button{
  background:black;
	color: rgb(255, 255, 255);
  font-weight: 400;
  width: 25%;
}
.contact-form button:focus{
  box-shadow:none;
}


.img-logo{
  
  background-image: url("../Images/zk-low-resolution-logo-black-on-transparent-background.png");
  max-width: 100%;
opacity:0.6;
}

.contact-text{
  
  margin-top: 50%;
  background-color: black;
}

.footer{
  background-color:darkgray;
}
.card-body{
  display: flex;
  flex-direction:row;
  align-items:center;justify-content:space-evenly;
  padding: 5px;

}
