* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color:rgb(231, 231, 236);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}





/* Header line with name and menu*/
.navbar{
 width:100%;
}

.navbar-brand {
  margin-right:1%;
  display:flex;
  max-width: fit-content;
}

.navbar-nav{
  
  margin-left: auto;
  margin-right: 5%;
}

#app-navbar{
  background: linear-gradient(120deg, #8cc1f3, #5a84eb) ;
}
/* jumbotron*/

#myImage{
  width:100%;
  height:auto;
  padding:10px;
  
  margin-left: -20px;
  align-content:flex-end;
}
.jumbotron{
  background-image: url("../Images/white-painted-wall-texture-background.jpg");
  padding-left:15%;
  padding-right:20%;
  display:flex;
}
.social-jumbo{
  display: flex; 
  flex-direction: row; 
  padding-top:80px; 
  padding-left:40px;
  position:relative;
}


.btn:hover{
  opacity:0.7;
  color:#0cf9e5;
  box-shadow: grey 0px 3px 8px;

}

/* projects/my work section */

.work-title {
  padding :10px;
  margin-left:38%;
  display:flex;
  font-size: 30px;

}
.mywork-container {
padding-bottom: 30px;

}
.container-fluid{
width:100%;
 }


/*skills section*/
.skills-logo {
  background-color: rgb(231, 231, 236);
  display: flex; 
  flex-direction: row; 
  justify-content: space-evenly; 
  align-items: center;

}

img.card-img-top:hover{
opacity:0.7;
}
.card2-body{
  padding:5px;
  margin:5px;
  width:120px;
  justify-items: center;
  align-items: center;
  font-size: xx-large;
}

/*About-me*/
.my-bio{
  margin:10%;
  margin-top: 10px;
}


/*form*/

.subtitle-contact{
  padding :10px;
  justify-content:center;
  display:flex;
}

.control-title{
  
}
.contact{
  padding: 4%;
  height: auto;
}
.col-md-3{
  padding: 4%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.contact-info{
  margin-top:10%;
}
.contact-info h2{
  margin-bottom: 10%;
}
.col-md-9{
  padding: 3%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.contact-form label{
  font-weight:400;
}
.contact-form input{
  background:black;
	color: rgb(255, 255, 255);
  font-weight: 400;
  
}
.contact-form button:focus{
  box-shadow:none;
}
.additional-details{
  
  padding :10px;
  justify-content:center;
  display:flex;
  margin: auto;
}

/* .img-logo{
  background-image: url("../Images/zk-low-resolution-logo-black-on-transparent-background.png");
  max-width: 50%;
  opacity:0.8;
 
  
  background-repeat: no-repeat
} */

a {
  color: rgb(81, 104, 238);
  text-decoration: none;
  background-color: transparent;
}
.contact-text{
  margin-top: 5%;
  background-color:transparent;

 

}

/*footer*/
.footer{
 padding-right:5px;
 padding-left:5px;
}
.card-footer{
  display: flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-around;
  background-color:darkgray;
}

.project-button{
  margin-top:10px;
}